<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Tela Inicial</title>
</head>
<body-home>
    <main class="container-home"> 
        <h1>Home</h1>

        <h2>Olá, {{name}}!</h2>
        <h3>Como podemos ajudar hoje?</h3>

            <div>
                <a href="{{url_for('ticket')}}">
                    <button class="criar-ocorrencia">Gerar nova ocorrência</button>
                </a>
            </div>
            <div>
                <button class="acompanhar-ocorrencia">Acompanhar ocorrência</button>
            </div>
            <div>
            
    </main>


</body>
</html>