<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home operador</title>
</head>
<body-home-operador>
    <main class="container-home-operador"> 
        <h1>Home operador</h1>

            <div>
                <a href="{{url_for('estatisticas')}}">
                    <button class="resumo-solicitacoes">Resumo das solicitações</button>
                </a>
            </div>
            <div>
                <a href="{{url_for('operador')}}">
                    <button class="ocorrencias">Ocorrências</button>
                </a>
            </div>
            </div>
            <div>
                <a href="{{url_for('operador_ocorrencias')}}">
                    <button class="minhas ocorrencias">Minhas ocorrências</button>
                </a>
            </div>
            <div>
            
    </main>


</body>
</html>