<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Consulta de ocorrências</title>
    
</head>
<body class="body-status">
    <div class="container-status">
        <h1>Minhas ocorrências</h1>

        <div class="status">
            <label for="filtro">Filtrar por status:</label>

            <form method="GET" action="{{ url_for('operador_ocorrencias') }}">
                <div class="select-operador">
                    <select name="prioridade" onchange="this.form.submit()">
                        <option disabled selected>Prioridade</option>
                        <option value="baixa"{% if prioridade == 'baixa' %}selected{% endif %}>Baixa</option>
                        <option value="media"{% if prioridade == 'media' %}selected{% endif %}>Média</option>
                        <option value="alta"{% if prioridade == 'alta' %}selected{% endif %}>Alta</option>
                    </select>
                </div>
            </form>
        </div>

        <hr>

    <table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>título</th>
      <th>Prioridade</th>
      <th>Status</th>
      <th>Ação</th>

    </tr>
  </thead>
 <tbody>
        {% for item in dados %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.titulo }}</td>
            <td>{{ item.prioridade }}</td>
            <td>{{ item.status }}</td>
            <td>
                <form method="POST">
                    <input type="hidden" name="ocorrencia_id" value="{{ item.id }}">
                        <button class="botao-operador" type="submit">Finalizar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


</body>

</html>