<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Consulta de ocorrências</title>
    
</head>
<body class="body-status">
    <div class="container-status">
        <h1>Minhas ocorrências</h1>

        <div class="status">
            <label for="filtro">Filtrar por status:</label>

            <form method="GET" action="/ocorrencias">
                <div class="select">
                    <select name="filtro" id="filtro" onchange="this.form.submit()">
                        <option value="todos" {% if filtro == 'todos' %}selected{% endif %}>Todos</option>
                        <option value="aberta" {% if filtro == 'aberta' %}selected{% endif %}>Aberta</option>
                        <option value="em andamento" {% if filtro == 'em andamento' %}selected{% endif %}>Em andamento</option>
                        <option value="finalizada" {% if filtro == 'finalizada' %}selected{% endif %}>Finalizada</option>
                    </select>
                </div>
            </form>
        </div>

        <hr>

    <table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>título</th>
      <th>Status</th>
    </tr>
  </thead>
 <tbody>
        {% for item in dados %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.titulo }}</td>
            <td>{{ item.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


</body>

</html>